<c-row>
    <c-col xs="12">
        <c-card class="mb-4">

            <c-card-body>
                <p class="text-medium-emphasis small">
                    Formulaire permettant d'ajouter des données au cube commercial
                </p>
                <c-row style="margin-top:10px;">
                    <c-col xs>
                        <input type="number" aria-label="Nom" cFormControl placeholder="Recette globale"/>
                    </c-col>
                    <c-col xs>
                        <input aria-label="Email" cFormControl placeholder="Nombre nouveaux abonnements"/>
                    </c-col>

                </c-row>
                <c-row style="margin-top:10px;">
                    <c-col xs>
                        <input type="number" aria-label="Nom" cFormControl placeholder="Nombre nouveaux partenaires"/>
                    </c-col>
                    <c-col xs>
                        <input aria-label="Email" cFormControl placeholder="Nombre reclamations"/>
                    </c-col>

                </c-row>
                <c-row style="margin-top:10px;">
                    <c-col xs>
                        <input type="number" aria-label="Nom" cFormControl placeholder="Date données"/>
                    </c-col>
                </c-row>
                <c-row style="margin-top: 10px;">
                    <button cButton
                            class="me-1"
                    >Sauvegarder
                    </button>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
