@import '../global.scss';

:root {
  --color1: #DBE5CA;
  --color2: #58716E;
  --color3: #DBE5CA;
  --color4: #668961;
  --color5: #ABC69D;
  --gris : #8F8F8F;

}

#environnement {
  .wrap_single {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    margin-top: 7rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 5px;
    text-align: center;

    p {
      color: var(--gris);
    }

  }

  .wrap_single h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $color_green_11;
  }
  .wrap_single p {
   font-size: .7rem;
   color: $color_green_11;
 }


  .wrap_single>div {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 10px;
  }

  .icon {
    font-size: 4rem;
    color: $color_green_11;
   }

  .cude_2d_1 {
    width: 200px;
    height: 200px;
    background: $color_green_10;
  }

  .cude_2d_2 {
    width: 200px;
    height: 200px;
    background: #F8F8F8;
    position: relative;
    .arrow_top {
      position: absolute;
      top: -40%;
      left: 40%;

      
      .icon {
        transform: rotate(-90deg);
        font-weight: 100;
        font-size: 42px;
        color: #C77A8C;
      }
    }


  }

  .cude_2d_3 {
    width: 200px;
    height: 200px;
    background: $color_green_11;
  }

  .cude_2d_4 {
    width: 200px;
    height: 200px;
    background: #F8F8F8;
    position: relative;
    .arrow_left {
      position: absolute;
      bottom: 38px;
      left: -40%;

      
      .icon {
        transform: rotate(180deg);
        font-weight: 100;
        font-size: 42px;
        color: #C77A8C;
      }
    }
  }

  .cude_2d_5 {
    display: flex;
    width: 200px;
    height: 200px;
    background: $color_green_3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .cude_2d_6 {
    width: 200px;
    height: 200px;
    background: #F8F8F8;
    position: relative;
    .arrow_right {
      position: absolute;
      bottom: 46px;
      right: -40%;
      
      .icon {
        font-weight: 100;
        font-size: 42px;
        color: #C77A8C;
      }
    }

  }

  .cude_2d_7 {
    width: 200px;
    height: 200px;
    background: $color_green_7;
  }

  .cude_2d_8 {
    width: 200px;
    height: 200px;
    background: #F8F8F8;
    position: relative;
    .arrow_down {
      position: absolute;
      bottom: -40%;
      left: 20%;
  
      .ressources {
        margin-top: -20px;
      }
      
      .icon {
        transform: rotate(90deg);
        font-weight: 100;
        font-size: 42px;
        color: #C77A8C;
      }
    }

  }

  .cude_2d_9 {
    width: 200px;
    height: 200px;
    background: $color_green_5;
  }

  .text_damier {
    max-height: 60px;
  }

  p.number {
    font-weight: bold;
    font-size: 1.5rem;
    color: grey;
  }


  .technique,
  .commerciale,
  .exploitation,
  .ressources {
    text-transform: uppercase;
  }

  .btn-voir {
    cursor: pointer;
    background: #094F66;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    transition: all .6s;

   &:hover {
    transition: all .6s;
    color: #094F66;
    outline: 1px solid #094F66;
    background-color: white;
   }
  }
  input#start {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  @media (max-width: 800px) {

    .cude_2d_1, .cude_2d_3 , .cude_2d_5, .cude_2d_7, .cude_2d_9 {
      display: none;
    }
    .technique, .exploitation, .commerciale, .ressources, .arrow_down::before, .arrow_left::before, .arrow_right::before, .arrow_top::before {
      display: none;
    }
    .wrap_single {
      flex-direction: column;
      align-items: center;
    }


  }
}