<c-row>
  <c-col xs="12">
    <c-card class="mb-4">

      <c-card-body>
        <p class="text-medium-emphasis small">
          Formulaire permettant d'ajouter des administreurs ayant accès a l'espace administrateurs de l'application
             </p>
        <app-docs-example href="forms/layout#form-grid">
          <c-row>
            <c-col xs>
              <input aria-label="Nom" cFormControl placeholder="Nom" />
            </c-col>
            <c-col xs>
              <input aria-label="Email" cFormControl placeholder="Email" />
            </c-col>

          </c-row>
          <c-row style="margin-top: 20px;">
            <c-col xs>
              <input aria-label="Mot de passe" cFormControl placeholder="Mot de passe" />
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
 </c-row>
