<c-row>
  <c-col xs="12">
    <c-card class="mb-4">

      <c-card-body>
        <p class="text-medium-emphasis small">
          Formulaire permettant d'ajouter des données au cube technique
        </p>
          <c-row style="margin-top:10px;">
            <c-col xs>
              <input type="number" aria-label="Nom" cFormControl placeholder="Taux pannes bus et teor" />
            </c-col>
            <c-col xs>
              <input aria-label="Email" cFormControl placeholder="Consommation bus et teor aux cents kms" />
            </c-col>

          </c-row>
          <c-row style="margin-top:10px;">
            <c-col xs>
              <input type="number" aria-label="Nom" cFormControl placeholder="Consommation tram aux cents kms" />
            </c-col>
            <c-col xs>
              <input aria-label="Email" cFormControl placeholder="Taux pannes tram" />
            </c-col>

          </c-row>
          <c-row style="margin-top:10px;">
            <c-col xs>
              <input type="number" aria-label="Nom" cFormControl placeholder="Date données" />
            </c-col>
          </c-row>
        <c-row style="margin-top: 10px;">
          <button cButton
                  class="me-1"
          >Sauvegarder</button>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
