@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
 background-position: center;
}

$montserrat : 'Montserrat', sans-serif;

// Green color pallet
$color_green_1 : #ACC1B8;
$color_green_2 : #DBE5CA;
$color_green_3 : #D4E496;
$color_green_4 : #ABC69D;
$color_green_5 : #96B996;
$color_green_6 : #7BBC88;
$color_green_7 : #029C51;
$color_green_8 : #668961;
$color_green_9 : #58716E;
$color_green_10 : #006E37;
$color_green_11 : #0C5B53;

// Yellow color pallet
$color_yellow_1 : #FEDC63;
$color_yellow_2 : #FBCE43;
$color_yellow_3 : #F1CE86;
$color_yellow_4 : #E5AF2F;
$color_yellow_5 : #B66B13;
$color_yellow_6 : #81450A;

// Orange color pallet
$color_orange_1 : #EDB312;
$color_orange_2 : #E39147;
$color_orange_3 : #FF9300;
$color_orange_4 : #EF7857;

// Red color pallet
$color_red_1 : #EA7857;

// Pink color pallet
$color_pink_1 : #DAB6C2;
$color_pink_2 : #C77A8C;
$color_pink_3 : #9885B2;

// Purple color pallet
$color_purple_1 : #745582;

// Blue color pallet
$color_blue_1 : #BCD8EF;
$color_blue_2 : #79B0E0;
$color_blue_3 : #4887C6;
$color_blue_4 : #3A56A3;
$color_blue_5 : #272472;